.Rproj.user
.Rhistory
.RData
.Ruserdata
zGraveyard.rmd
zYalong_confirmation.pdf
figures/Project overview.xlsx
_bookdown_files/*
thesis.aux
thesis.bfc
thesis.blg
thesis.log
thesis.out
thesis.toc
thesis.run.xlm
thesis.xdv
thesis_cache/*
_book/*.pdf
*_cache/*

cache-gitbook/*
cache-pdfbook/*